.header-title {
  display: inline;
  font-weight: bold;
  font-size: 80px;
  background: linear-gradient(90deg, #4c37a1, #0097ec);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.language {
  color: var(--grey1);
}

.language:hover {
  color: var(--grey1);
  text-decoration: underline;
}
